* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

body {
    font-family: var(--font-inter), serif;
    background-color: var(--bg-color);
    color: var(--black);
    min-height: 100vh;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

/* Sidebar */
.sidebar {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    flex-shrink: 0;
    max-width: 320px;
    background: #f8f9fb;
    border-right: 1px solid var(--color-border);
}

.filter-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--dark-blue);
    font-weight: 700;
}

.filter-section {
    margin: 8px 0;
    padding: 8px 10px;
}

.filter-section-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 8px;
}

/* Price */
.slider {
    position: relative;
    height: 6px;
    margin: 16px 4px;
}

.track {
    position: absolute;
    width: 100%;
    height: 6px;
    background: var(--light-gray);
    border-radius: 5px;
}

.progress {
    position: absolute;
    height: 6px;
    background: var(--dark-blue);
}

.handle {
    position: absolute;
    top: 50%;  /* horny okraj handle bude v polovici vysky slider */
    transform: translate(-50%, -50%);  /* posunie hore o polovicu svojej vysky, inak by zacinal horny okraj tam a druhe -50% zas dolava */
    width: 14px;
    height: 14px;
    background: var(--dark-blue);
    border-radius: 50%;
    cursor: pointer;
}

.price-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 10px;
}

.price-input {
    appearance: none;
    -moz-appearance: textfield;
    width: calc(50% - 10px);
    margin: 0 5px;
    padding: 2px 19px;
    border: 1px solid var(--black);
    border-radius: 5px;
    text-align: center;
    font-size: var(--normal-text-size);
    background-color: var(--white);
}

/* Stars */
.stars {
    display: flex;
    width: 90%;
    padding: 4px 0;
    justify-content: space-between;
}

.star {
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    fill: transparent;
    stroke: black;
}

.star.filled {
    fill: black;
}

/* Accessories */
.accessories-filer {
    margin-bottom: 10px;
    padding: 2px 15px;
}

.filter-subheading {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 7px 16px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: var(--normal-text-size);
    cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    cursor: pointer;
    accent-color: var(--dark-blue);
}

/* Filter Button */
.filter-button {
    display: block;
    width: 40%;
    margin: 5px auto;
    padding: 9px;
    background-color: var(--dark-blue);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
    font-size: var(--normal-text-size);
    font-weight: 500;
    cursor: pointer;
}

.filter-button:hover {
    background-color: var(--darker-dark-blue);
}


/* Product Section */
.product-section {
    flex: 1;
    padding: clamp(24px, 4vw, 43px) clamp(16px, 5vw, 100px);

    container-type: inline-size;
    container-name: product-grid;
}

/* Sort Header */
.sort-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;
    margin-bottom: 0;
    flex-wrap: wrap;
}


.tabs {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.tab {
    min-width: 138px;
    height: 38px;
    padding: 0 5px;
    background-color: #e1e1e1;
    border: none;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.tab.active {
    background: linear-gradient(
            180deg,   /*180 stupnov - zhora dole*/
            var(--yellow) 19%,
            #FFFFFF 19%
    );
}

.tab:hover {
    background-color: #c0c0c0;
}

.tab.active:hover {
    background: linear-gradient(
            180deg,
            #003E7C 19%,
            #FFFFFF 19%
    );
}

.items-per-page {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  /* teraz zarovananie doprava */
    gap: 7px;
    padding: 3px 4px;
}

.items-label {
    font-size: 16px;
    text-align: right;
}

.items-options {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    font-size: 16px;
}

/* hyperlink */
.items-options a {
    color: var(--black);
    text-decoration: none;
}

.items-options a:hover {
    text-decoration: underline;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px 12px;
    padding: 16px;
    background-color: var(--white);
    border-radius: 0 10px 10px 10px;
    justify-items: center;
}

.product-card {
    width: 100%;
    max-width: 220px;
    min-height: 388px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-card{
    cursor: pointer;
}

.product-card:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.product-image {
    width: 139px;
    height: 151px;
    object-fit: contain;
}


.product-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 144px;
}

.stars {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
}

.stars-base {
    color: #d1d1d1;
}

.stars-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;  /* skryje cast hviezd, ktora presahuje sirku*/
    white-space: nowrap;  /* nezalomia sa na novy riadok*/
    color: #f5c518;
}

.rating-text {
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 0;
}

.rating-number {
    font-size: 12px;
    text-align: center;
}

.rating-count {
    font-size: 8.7px;
    color: var(--small-text-color);
    text-align: center;
}

.product-title {
    width: 139px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.product-price {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.add-to-cart {
    width: 107px;
    padding: 9px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 5px;
    background-color: var(--yellow);
    border: none;
    font-size: 13.4px;
    font-weight: 500;
    cursor: pointer;
}

.add-to-cart:hover {
    background: var(--yellow-bright);
}

.cart-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 3px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.page-link {
    font-size: 16px;
    color: var(--dark-blue);
    text-decoration: none;
    padding: 7px 3px;
}

.page-link:hover {
    text-decoration: underline;
}

.page-link.active {
    font-weight: 800;
    font-size: 16px;
}

.page-ellipsis {
    font-size: 16px;
    color: var(--dark-blue);
    letter-spacing: 1.92px;
}


@media (max-width: 880px) {
    .main-content {
        flex-direction: column;
    }

    .product-section {
        padding: 24px 10px;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        padding: 15px;
    }
}

@container product-grid (max-width: 715px){
    .items-per-page {
        order: -1;
        width: 100%;
        justify-self: right;
    }
}

@container product-grid (max-width: 574px){
    .tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        width: 100%;
    }

    .tab {
        min-width: 0;
        width: 100%;
    }
}

@container product-grid (max-width: 400px){
    .tabs {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        width: 100%;
    }
}


@media (min-width: 500.1px) and (max-width: 880px) {
    .sidebar {
        width: 100%;
        max-width: none;
        display: grid;
        /* price stars */
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5rem;
        row-gap: 0.75rem;
        align-items: top;
        border: none;
    }

    .filter-section-title {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .filter-section:nth-of-type(1) {
        grid-column: 1;
    }

    .filter-section:nth-of-type(2) {
        grid-column: 2;
    }

    .filter-section:nth-of-type(1),
    .filter-section:nth-of-type(2) {
        grid-row: 2;
        width: 100%;
        width: minmax(200px, 300px);
    }

    .accessories-filer {
        width: 200px;
    }

    .filter-section:nth-of-type(3) {
        grid-column: 1 / 3;
        grid-row: 3;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .filter-section:nth-of-type(3) .filter-section-title {
        width: 100%;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .filter-button {
        grid-column: 1 / 3;
        grid-row: 4;
        max-width: 200px;
    }
}


@media (max-width: 500px) {
    .sidebar {
        max-width: none;
        border: none;
    }

    .filter-section,
    .filter-title,
    .filter-button {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}



