


body {
  margin: 0;
}

/* MAIN CONTAINER */

.main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  gap: 30px;
}

/* TOP NEWS */

.top-news {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about_us,
.sales {
  flex: 1;
  aspect-ratio: 6 / 2;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e8d8d;
  border-radius: 20px;
}

/* CATEGORIES */
.category-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 2fr));
  gap: 10px;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 6 / 5;
  background-color: #c2c2c2;
  border-radius: 20px;
}

/* PRODUCTS */
.products-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  width: 100%;
}

/* ---------------------------------------------------------------- */
/* PRODUCT.HTML */
/* gallery */
.product_section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.product_gallery, .product_info {
  flex: 1;
  display: flex;
  gap: 10px;
  padding: 10px;
  min-width: 500px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 15%;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  padding: 2px;
}
.thumb:hover {
  border: 2px solid rgb(223, 223, 223);
}

.thumb.active {
  border: 2px solid #ffb400;
  border-radius: 6px;
}

.main_product_box {
  display: flex;
  width: 85%;
  aspect-ratio: 1 / 1;
  min-width: 100px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #f3f0e7;
  border: 1px solid #cecdcd;
}

.main_product_box img {
  max-width: 100%;
  max-height: 100%;
}

.product_info {
  flex-direction: column;
  gap: 5px;
}

.star-icons {
  font-size: 1.4rem;
  color: gold;
}

.description {
  width: 100%;
  background: #f0ede6;
  border-radius: 12px;
  padding: 10px;
  font-size: 0.92rem;
  line-height: 1.65;
  color: #444;
  border: 1.5px solid #d8d3c8;
}

/* ODDELOVAC */
.oddelovac {
  width: 100%;
  height: 30px;
}

/* SPECIFICATION */
.specification {
  display: flex;
  width: 100%;
  background-color: #f0ede6;
  border: 2px solid #d8d3c8;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 10px;
  gap: 30px;
}

.left_spec, .right_spec {
  flex: 1;
  display: flex;
  max-width: 600px;
  min-width: 200px;
  flex-direction: column;
  padding: 30px;
  gap: 0px;
  background-color: #ffffff;
  border: 1px solid #d8d3c8;
  border-radius: 15px;
}

.spec-table {
  width: 100%;
  border-collapse: collapse;
}

.spec-table td {
  padding: 10px 2px;
  border-bottom: 1px solid #ccc;
}

/* RELATED PRODUCTS */
.related_products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
}

.related_products h2 {
  margin-bottom: 15px;
}

.related_products_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.product_img {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  background: rgb(250, 250, 250);
  border-radius: 8px;
  border: 1px solid #ddd;
}

.product_img img {
  width: 100%;
  height: 100%;
}

.cart-button {
  padding: 4px 20px;
  border-radius: 6px;
  background-color: #ffb400;
  color: white;
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

.cart-button:hover {
  background-color: #ffaa00;
  transform: translateY(-1px);
}

.quantity_control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.quantity_control input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.quantity_control p {
  margin: 0;
}


@media (max-width:768px) {
  .products-box {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  .related_products_grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
  }
  .product_gallery, .product_info {
    gap: 10px;
    padding: 10px;
    min-width: 400px;
    flex-wrap: wrap;
  }
  .main_product_box {
    order: 1;
    min-width: unset;
    width: 100%;
  }
  .thumbnails {
    display: flex;
    order: 2;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
  }

  .thumb {
    min-width: 40px;
    aspect-ratio: 1 / 1;
  }
}
@media (max-width: 480px) {
  .products-box {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
  }
  .related_products_grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
  }
  .product_gallery, .product_info {
    min-width: 230px;
  }
  .about_us,
  .sales {
    min-width: 220px;
  }
}