/* Variables */
:root {
    --bg-color: #f3f3f3;
    --primary-color: #003e7c;
    --darker-primary: #002d5c;
    --small-text-color: #5a5a5a;
    --white: #ffffff;
    --black: #000000;
    --light-gray: #b6b6b6;

    --font-playfair: 'Playfair Display SC', serif;
    --font-inter: 'Inter', sans-serif;
    --font-kaisei: 'Kaisei HarunoUmi', serif;

    --small-text-size: 12px;
    --normal-text-size: 16px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-inter), serif;
    background-color: var(--bg-color);
    color: var(--black);
    min-height: 100vh;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* min, idealne v percentach pre view, maximalne */
    padding: clamp(5px, 3vw, 20px) clamp(5px, 5vw, 50px) clamp(5px, 3vw, 20px) clamp(5px, 3vw, 20px);
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    gap: 0.15em;  /* zavisi od pisma -> gap = font-size * gap em */
}

.logo-image {
    height: 2em;
    width: auto;     /* dopocita sa */
}

.logo-text {
    /* Typography */
    font-family: var(--font-playfair);
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: 0;
    color: var(--black);

    /* Layout */
    width: auto;
    height: auto;

    /* Alignment */
    text-align: left;
}

/* Search */
.search-container {
    display: flex;
    flex: 1;  /* vlastnost dietata vo flexe rodica -> rovnakou rychlostou ako rastie rodic rastie aj dieta, zabera rovnaky podiel rodicovskeho miesta */
    margin: 0 auto;
    padding: 15px 22px;
    justify-content: center;
}

.search-box {
    display: flex;
    max-width: 736px;
    width: 100%;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--white);
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    color: var(--small-text-color);
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 10px;
    font-family: var(--font-inter);
    font-size: var(--small-text-size);
    color: var(--small-text-color);
}

.search-input::placeholder {
    color: var(--small-text-color);
}

.search-button {
    height: 100%;
    line-height: 100%;  /* vyska riadku */
    text-align: center;
    padding: 0 1.5em;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 0 5px 5px 0;
    font-family: var(--font-kaisei);
    font-size: var(--normal-text-size);
    font-weight: 500;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--darker-primary);
}

/* NOVA MAGIA  !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* display: none; alebo visibility: hidden; citacka pre nevidiacich tiez ignoruje */

/* Menu */
.menu {
    display: flex;
    flex: 0.5;
    align-items: center;
    max-width: 296px;
    justify-content: space-between;  /* gap - auto */
}

.menu-item {
    display: flex;
    align-items: center;
    font-family: var(--font-kaisei);
    font-size: var(--normal-text-size);
    font-weight: 500;
    color: var(--black);
    gap: 1px;
    flex: 0 0 auto;
}

.menu-item:hover {
    color: var(--primary-color);
}

/* Main content */
.main-content {
    display: flex;
    justify-content: space-between;
}

/* Sidebar */
.sidebar {
    width: 288px;
    padding: 16px;
    border-radius: 10px;
    flex-shrink: 0;  /* default flex-shrink: 1 - moze sa zmensit, ked 0, tak nemoze */
}

.filter-title {
    font-family: var(--font-kaisei);
    font-size: 34px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.filter-section {
    margin-bottom: 16px;
    padding: 8px 10px;
}

.filter-heading {
    font-family: var(--font-kaisei);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

/* Price */
.slider {
    position: relative;
    height: 6px;
    margin: 16px 4px;
}

.track {
    position: absolute;
    width: 100%;
    height: 6px;
    background: var(--light-gray);
    border-radius: 5px;
}

.progress {
    position: absolute;
    height: 6px;
    background: var(--primary-color);
}

.handle {
    position: absolute;
    top: 50%;  /* horny okraj handle bude v polovici vysky slider */
    transform: translate(-50%, -50%);  /* posunie hore o polovicu svojej vysky, inak by zacinal horny okraj tam a druhe -50% zas dolava */
    width: 14px;
    height: 14px;
    background: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.price-inputs {
    display: flex;
    flex-wrap: wrap; /* ak sa nezmestia vedla seba, tak sa zalomia*/
    align-items: flex-start;  /* zarovnanie na zaciatok */
    justify-content: space-between;
    padding: 8px 10px;
}

.price-input {
    appearance: none;
    -moz-appearance: textfield;
    width: calc(50% - 10px);
    margin: 0 5px;
    padding: 2px 19px;
    border: 1px solid var(--black);
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-inter);
    font-size: var(--normal-text-size);
    background-color: var(--white);
}

/* Stars */
.stars {
    display: flex;
    width: 90%;
    padding: 4px 0;
    justify-content: space-between;
}

.star {
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    fill: transparent;
    stroke: black;
}

.star.filled {
    fill: black;
}

/* Accessories */
.accessories-filer {
    margin-bottom: 10px;
    padding: 2px 15px;
}

.filter-subheading {
    font-family: var(--font-inter);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 7px 16px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: var(--font-inter);
    font-size: var(--normal-text-size);
    cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;  /* tieto specialne prvk maju vlasny styl, ktorym mozu niekedy prebit to, co je v rodivcovi */
    accent-color: var(--primary-color);  /* ta po kliknuti */
}

/* Filter Button */
.filter-button {
    display: block;  /* bude na celom riadku */
    width: 40%;
    margin: 5px auto;  /* auto - vpravo, vlavo sa vycentruje */
    padding: 9px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
    font-family: var(--font-kaisei);
    font-size: var(--normal-text-size);
    font-weight: 500;
    cursor: pointer;
}

.filter-button:hover {
    background-color: var(--darker-primary);
}



