:root {
    --dark-grey: #1b1b1b;
    --yellow: #F5C518;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN CONTAINER */

.main {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.login-window {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 0px auto;
    gap: 10px;
}

.logo-account {
  font-family: 'Syne', sans-serif;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -0.5px;
  color: var(--yellow);
  padding: 12px;
  text-decoration: none;
}

.logo-account span {
  color: black;
}

/* KOLONKY */
.login-tab h3 {
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.5px;
    font-size: large;
}
.login-tab input {
  flex: 1;
  padding: 8px 10px;
  outline: none;
  color: var(--dark-grey);
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  border-radius: 5px;
  border: 1px solid #d8d3c8;
  margin-bottom: 10px;
}

.login-tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    gap: 2px;
    border-radius: 12px;
    min-width: 350px;
    max-width: 450px;
    background-color: #f0ede6;
    border: 1px solid #d8d3c8;
    font-family: 'Inter', sans-serif;
    font-size: small;
}

/* BUTTONS */
.first-button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #ffb400;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    transition: all 0.2s;
    font-size: medium;
    margin-top: 15px;
}
.first-button:hover {
    background-color: #ffaa00;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.secondary-button {
  padding: 10px;
  border: 1px solid #8e8d8d;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
}

.secondary-button:hover {
  background-color: #f0f0f0;
  border-color: #555;
}

hr {
    margin-top: 12px;
    margin-bottom: 12px;
}

/* PRAVA STRANA */
.info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
    background-color: #f0ede6;
    border: 1px solid #d8d3c8;
}

.account-tab,
.password-tab {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 2px;
    border-radius: 12px;
    min-width: 350px;
    max-width: 400px;
    font-family: 'Inter', sans-serif;
    font-size: small;
}

.account-tab h3, .password-tab h3 {
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.5px;
    font-size: large;
}

.account-tab input, .password-tab input {
  padding: 8px 10px;
  color: var(--dark-grey);
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  border-radius: 5px;
  border: 1px solid #d8d3c8;
  margin-bottom: 10px;
  width: 100%;
}

.oddelovac {
  width: 100%;
  height: 50px;
}

@media (max-width:768px) {
    .info-box {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .main {
        padding: 5px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .login-tab,
    .account-tab,
    .password-tab {
        padding: 15px;
    }
}
@media (max-width: 400px) {
    .main {
        padding: 5px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .login-tab,
    .account-tab,
    .password-tab {
        min-width: 300px;
        max-width: 400px;
        width: 100%;
    }
    
}